<a href="/homepage"> Home</a>

<h1>Map</h1>
<div id="map"></div>
<ul>

<%@reports.each do |report|%>
<li>
<p hidden class="id"><%=report.id%></p>
<p hidden class="created_at"><%=report.created_at%></p>
<p hidden class="event_desc"><%=report.event_desc%></p>
<p hidden class="suspect_desc"><%=report.suspect_desc%></p>
<p hidden class="lat"><%=report.lat%></p>
<p hidden class="lng"><%=report.lng%></p>
</li>
<% end%>
</ul>
<script>
  function initAutocomplete() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 39, lng: -95},
      zoom: 4,
      mapTypeId: 'hybrid',
      disableDefaultUI: true,
      zoomControl: true
    });

    markers=[]

    reports = document.getElementsByTagName("li");

    for (i = 0; i < reports.length; i++) {  
        element = reports[i]
        id = element.getElementsByClassName("id")[0].innerHTML;
        created_at = element.getElementsByClassName("created_at")[0].innerHTML;
        event_desc = element.getElementsByClassName("event_desc")[0].innerHTML;
        suspect_desc = element.getElementsByClassName("suspect_desc")[0].innerHTML;
        lat = parseFloat(element.getElementsByClassName("lat")[0].innerHTML);
        lng = parseFloat(element.getElementsByClassName("lng")[0].innerHTML);
        latLng = {lat, lng};

        contentString = `<p>${created_at}</p><p>${event_desc}</p><p>${suspect_desc}</p>`;

        marker = new google.maps.Marker({
            position: latLng,
            map: map,
            draggable: false, 
            animation: google.maps.Animation.DROP,
            title: id
        });

        infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        markers.push(marker)
    };
    

    
      // After search change the viewport to center on that location.
    var bounds = new google.maps.LatLngBounds();

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBAneFzNBHiiM-bqqVR_orqqtsyCbsj-o&libraries=places&callback=initAutocomplete"
async defer>
</script>